.digital-bill-page {
  padding: 30px 20px 30px 20px;
}

.tables-date {
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
}

.thread-head {
  background-color: #ffffff;
  border: 1px solid #000000;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.green {
  color: #006400;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 700;
}
.red {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 700;
  color: #8b0000;
}
